[package]
name = "gleam-core"
version = "0.22.0-dev"
authors = ["Louis Pilfold <louis@lpil.uk>"]
edition = "2021"
license-file = "LICENCE"

[dependencies]
# Immutable data structures
im = "15.0.0"
# Error message and warning formatting
codespan-reporting = "0.11.1"
termcolor = "1.1.2"
# Logging
tracing = "0.1.29"
# Extra iter methods
itertools = "0.10.1"
# String case conversion
heck = "0.4.0"
# Parsing
regex = "1.5.4"
# Graph data structures
petgraph = "0.6.0"
# Initialize complex static values at runtime
lazy_static = "1.4.0"
# Levenshtein string distance for typo suggestions
strsim = "0.10.0"
# Data (de)serialisation
serde = { version = "1.0.130", features = ["derive"] }
# Cap'n Proto binary format runtime
capnp = "0.14.3"
# Enum trait impl macros
strum = { version = "0.24.0", features = ["derive"] }
# Template rendering
askama = "0.10.5"
# Markdown parsing
pulldown-cmark = { version = "0.8.0", default-features = false }
# Non-empty vectors
vec1 = "1.8.0"
# Hex package manager client
hexpm = "2.0.0"
# XDG directory locations
dirs = "4.0.0"
# HTTP types
http = "0.2.5"
# Byte collections
bytes = "1.1.0"
# Macro to work around Rust's traits not working with async. Sigh.
async-trait = "0.1.51"
# Little helper to omit fields that cannot be debug printed
debug-ignore = "1.0.1"
# std::error::Error definition macro
thiserror = "1.0.30"
# Async combinators for futures
futures = "0.3.17"
# Creation of tar file archives
tar = "0.4.37"
# gzip compression
flate2 = "1.0.22"
# Helper for wrapping text onto lines based upon width
textwrap = { version = "0.15.0", features = ["terminal_size"] }
# base encoding
base16 = "0.2.1"
# toml config file parsing
toml = "0.5.8"
# SPDX license parsing
spdx = "0.8.0"

[build-dependencies]
# Data (de)serialisation
serde_derive = "1.0.130"
# Cap'n Proto binary format codegen
capnpc = "0.14.4"

[dev-dependencies]
# Test assertion errors with diffs
pretty_assertions = "1.0.0"
# Snapshot testing to make test maintenance easier
insta = "1.8.0"
