<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ unnest }}/index.css" type="text/css" />
  </head>
  <body>
    <header class="page-header">
      <h2>
        {{ project_name }}<!-- - {{ project_version }} -->
      </h2>
    </header>

    <div class="page">
      <nav class="sidebar">
        <a class="sidebar-toggle" href="#">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="bars"
            class="svg-inline--fa fa-bars fa-w-14"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            >
            <path
              fill="#fff"
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
              >
            </path>
          </svg>
        </a>

        {% if !pages.is_empty() %}
        <h2>Pages</h2>
        <ul>
        {% for page in pages %}
          <li><a href="{{ unnest }}/{{ page.path }}">{{ page.name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if !links.is_empty() %}
        <h2>Pages</h2>
        <ul>
        {% for link in links %}
          <li><a href="{{ unnest }}/{{ link.path }}">{{ link.name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

        <h2>Modules</h2>
        <ul>
        {% for module in modules %}
          <li><a href="{{ unnest }}/{{ module.path }}">{{ module.name }}</a></li>
        {% endfor %}
        </ul>

        {% block sidebar_content %}{% endblock %}
      </nav>

      <main class="content">
        {% block content %}{% endblock %}
      </main>
    </div>


    <script>const pride = () => document.querySelector('body').classList.toggle('show-pride')</script>
    <a class="pride-button" onclick="pride()">✨</a>
    <footer class="pride" onclick="pride()">
      <div class="blue">Lucy</div>
      <div class="pink">says</div>
      <div class="white">trans</div>
      <div class="pink">rights</div>
      <div class="blue">✨</div>
    </footer>
  </body>
</html>
