{% extends "documentation_layout.html" %}

{% block sidebar_content %}
{% if !types.is_empty() %}
<h2>Types</h2>
<ul>
    {% for typ in types %}
    <li><a href="#{{ typ.name }}">{{ typ.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if !constants.is_empty() %}
<h2>Constants</h2>
<ul>
    {% for constant in constants %}
    <li><a href="#{{ constant.name }}">{{ constant.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if !functions.is_empty() %}
<h2>Functions</h2>
<ul>
    {% for function in functions %}
    <li><a href="#{{ function.name }}">{{ function.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
<h1 class="module-name">{{ module_name }}</h1>
{{ documentation|safe }}

{% if !types.is_empty() %}
<section class="module-members">
  <a href="#module-types">
    <h1 id="module-types" class="module-member-kind">Types</h1>
  </a>

  {% for typ in types %}
  <div class="member">
    <div class="member-name">
      <h2 id="{{ typ.name }}">
        <a href="#{{ typ.name }}">
            {{ typ.name }}
        </a>
      </h2>
      {% if !typ.source_url.is_empty() %}
      <a href="{{ typ.source_url|safe }}">
        &lt;/&gt;
      </a>
      {% endif %}
    </div>
    <div class="custom-type-constructors">
      <div class="rendered-markdown">{{ typ.documentation|safe }}</div>
      <pre><code class="hljs gleam">{{ typ.definition }}</code></pre>
      {% if !typ.constructors.is_empty() %}
      <h3>
        Constructors
      </h3>
      <ul>
        {% for constructor in typ.constructors %}
        <li>
          <code class="constructor-name hljs gleam">{{ constructor.definition }}</code>
          {{ constructor.documentation|safe }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</section>
{% endif %}

{% if !constants.is_empty() %}
<section class="module-members">
  <a href="#module-constants">
    <h1 id="module-constants" class="module-member-kind">Constants</h1>
  </a>

  {% for constant in constants %}
  <div class="member">
    <div class="member-name">
      <h2 id="{{ constant.name }}">
        <a href="#{{ constant.name }}">
            {{ constant.name }}
        </a>
      </h2>
      {% if !constant.source_url.is_empty() %}
      <a href="{{ constant.source_url|safe }}">
        &lt;/&gt;
      </a>
      {% endif %}
    </div>
    <pre><code class="hljs gleam">{{ constant.definition }}</code></pre>
    <div class="rendered-markdown">{{ constant.documentation|safe }}</div>
  </div>
  {% endfor %}
</section>
{% endif %}

{% if !functions.is_empty() %}
<section class="module-members">
 <a href="#module-functions">
   <h1 id="module-functions" class="module-member-kind">Functions</h1>
 </a>
 {% for function in functions %}
 <div class="member">
    <div class="member-name">
      <h2 id="{{ function.name }}">
        <a href="#{{ function.name }}">
            {{ function.name }}
        </a>
      </h2>
      {% if !function.source_url.is_empty() %}
      <a href="{{ function.source_url|safe }}">
        &lt;/&gt;
      </a>
      {% endif %}
    </div>
    <pre><code class="hljs gleam">{{ function.signature }}</code></pre>
    <div class="rendered-markdown">{{ function.documentation|safe }}</div>
  </div>
  {% endfor %}
</section>
{% endif %}
{% endblock %}
