/* karla regular latin-ext */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/karla-v23-regular-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* karla regular latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/karla-v23-regular-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* karla bold latin-ext */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/karla-v23-bold-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* karla bold latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/karla-v23-bold-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* ubuntu mono cyrillic-ext */
@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ubuntu-mono-v15-regular-cyrillic-ext.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* ubuntu mono cyrillic */
@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ubuntu-mono-v15-regular-cyrillic.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* ubuntu mono greek-ext */
@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ubuntu-mono-v15-regular-greek-ext.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* ubuntu mono greek */
@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ubuntu-mono-v15-regular-greek.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}
/* ubuntu mono latin-ext */
@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ubuntu-mono-v15-regular-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* ubuntu mono latin */
@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ubuntu-mono-v15-regular-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  /* Colours */
  --black: #2a2020;
  --hard-black: #000;
  --pink: #ffaff3;
  --hot-pink: #d900b8;
  --white: #fff;
  --pink-white: #fff8fe;
  --mid-grey: #dfe2e5;
  --light-grey: #f5f5f5;
  --boi-blue: #a6f0fc;

  /* Derived colours */
  --text: var(--black);
  --background: var(--white);
  --accented-background: var(--pink-white);
  --code-border: var(--pink);
  --code-background: var(--light-grey);
  --table-border: var(--mid-grey);
  --table-background: var(--pink-white);
  --links: var(--hot-pink);
  --accent: var(--pink);

  /* Sizes */
  --content-width: 750px;
  --header-height: 60px;
  --hash-offset: calc(var(--header-height) * 1.67);
  --sidebar-width: 240px;
  --gap: 24px;
  --small-gap: calc(var(--gap) / 2);
  --tiny-gap: calc(var(--small-gap) / 2);
  --large-gap: calc(var(--gap) * 2);
  --sidebar-toggle-size: 33px;
  --search-height: 4rem;

  /* etc */
  --shadow: 0 0 0 1px rgba(50, 50, 93, 0.075), 0 0 1px #e9ecef,
    0 2px 4px -2px rgba(138, 141, 151, 0.6);
  --nav-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, system-ui, ui-sans-serif, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  font-size: 17px;
  line-height: 1.4;
  position: relative;
  min-height: 100vh;
  word-break: break-word;
}

html {
  /* This is necessary so hash targets appear below the fixed header */
  scroll-padding-top: var(--hash-offset);
}

a,
a:visited {
  color: var(--links);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
select {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button {
  -webkit-appearance: button;
  appearance: button;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
}

button:active,
select:active {
  outline: 0 none;
}

li {
  margin-bottom: 4px;
}

p {
  margin: var(--small-gap) 0;
}

.rendered-markdown h1,
.rendered-markdown h2,
.rendered-markdown h3,
.rendered-markdown h4,
.rendered-markdown h5 {
  font-size: 1.3rem;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: var(--small-gap) var(--gap);
  background-color: var(--accented-background);
  margin: var(--small-gap) 0;
}

/* Code */

pre,
code {
  font-family: "Ubuntu Mono", SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", ui-monospace, monospace;
  line-height: 1.2;
  background-color: var(--code-background);
}

pre {
  margin: var(--gap) 0;
  border-radius: 1px;
  overflow: auto;
  box-shadow: var(--shadow);
}

pre > code,
code.hljs {
  padding: var(--small-gap) var(--gap);
  background: transparent;
}

p code {
  margin: 0 2px;
  border-radius: 3px;
  padding: 0 0.2em;
  color: var(--inline-code);
}

/* Page layout */

.page {
  display: flex;
}

.content {
  margin-left: var(--sidebar-width);
  margin-bottom: var(--large-gap);
  padding: calc(var(--header-height) + var(--gap)) var(--gap) 0 var(--gap);
  width: calc(100% - var(--sidebar-width));
  max-width: var(--content-width);
}

.content img {
  max-width: 100%;
}

/* Page header */

.page-header {
  box-shadow: var(--nav-shadow);
  height: var(--header-height);
  color: black;
  color: var(--hard-black);
  background-color: var(--pink);
  display: flex;
  padding: var(--small-gap) var(--gap);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 300;
}

.page-header h2 {
  align-items: baseline;
  display: flex;
  margin: 0;
  width: var(--sidebar-width);
}

.page-header a,
.page-header a:visited {
  color: black;
  color: var(--hard-black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-toggle {
  display: none;
  font-size: var(--sidebar-toggle-size);
  opacity: 0;
  transition: opacity 1s ease;
}

.search-nav-button {
  display: none;
  font-size: var(--sidebar-toggle-size);
  opacity: 0;
  transition: opacity 1s ease;
}

.page-header .sidebar-toggle {
  color: white;
  color: var(--white);
  margin: 0 var(--small-gap) 0 0;
}

.page-header .search-nav-button {
  color: white;
  color: var(--white);
  margin: 0 var(--small-gap) 0 0;
}

/* Version selector */

#project-version {
  --half-small-gap: calc(var(--small-gap) / 2);
  --icon-size: 0.75em;
  flex-shrink: 0;
  font-size: 0.9rem;
  font-weight: normal;
  margin-left: var(--half-small-gap);
}

#project-version > span {
  padding-left: var(--half-small-gap);
}

#project-version form {
  align-items: center;
  display: inline-flex;
  justify-content: flex-end;
}

#project-version select {
  appearance: none;
  -webkit-appearance: none;
  padding: 0.6rem calc(1.3 * var(--icon-size)) 0.6rem var(--half-small-gap);
  position: relative;
  z-index: 1;
}

#project-version option {
  background-color: var(--code-background);
}

#project-version .icon {
  font-size: var(--icon-size);
  margin-left: calc(-1.65 * var(--icon-size));
}

/* Module doc */

.module-name > a,
.module-member-kind > a {
  color: inherit;
}

.module-name > a:hover,
.module-member-kind > a:hover {
  text-decoration: none;
}

.module-name > .icon-gleam-chasse,
.module-member-kind > .icon-gleam-chasse,
.module-member-kind > .icon-gleam-chasse-2 {
  color: var(--pink);
  display: block;
  font-size: 1rem;
  margin: var(--small-gap) 0 0;
}

.module-name {
  color: var(--hard-black);
  margin: 0 0 var(--gap);
  font-weight: 700;
}

/* Sidebar */

.sidebar {
  background-color: var(--background);
  font-size: 0.95rem;
  max-height: calc(100vh - var(--header-height));
  overflow-y: auto;
  overscroll-behavior: contain;
  padding-top: var(--gap);
  padding-bottom: calc(3 * var(--gap));
  padding-left: var(--gap);
  position: fixed;
  top: var(--header-height);
  transition: transform 0.5s ease;
  width: var(--sidebar-width);
  z-index: 100;
}

.sidebar h2 {
  margin: 0;
}

.sidebar ul {
  list-style: none;
  margin: var(--small-gap) 0;
  padding: 0;
}

.sidebar li {
  line-height: 1.2;
  margin-bottom: 4px;
}

.sidebar .sidebar-toggle {
  color: var(--pink);
  font-size: calc(0.8 * var(--sidebar-toggle-size));
}

body.drawer-closed .label-open,
body.drawer-open .label-closed {
  display: none;
}

.display-controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--small-gap);
  padding-right: var(--gap);
}

.display-controls .control {
  margin: 0.5rem 0;
}

.display-controls .control:not(:first-child) {
  margin-left: 1rem;
}

.toggle {
  align-items: center;
  display: flex;
  font-size: 0.96rem;
}

.toggle-0 .label:not(.label-0),
.toggle-1 .label:not(.label-1) {
  display: none;
}

.label {
  display: flex;
}

.label .icon {
  margin: 0 0.28rem;
}

/* Module members (types, functions) */

.module-members {
  margin-top: var(--large-gap);
}

.module-members:last-of-type .member:last-of-type {
  margin-bottom: 0;
}

.module-member-kind {
  font-size: 2rem;
  color: var(--text);
}

.member {
  margin: var(--large-gap) 0;
  padding-bottom: var(--gap);
}

.member-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 4px solid var(--accent);
  padding: var(--small-gap) var(--gap);
  background-color: var(--accented-background);
}

.member-name h2 {
  display: flex;
  font-size: 1.5rem;
  margin: 0;
}

.member-name h2 a {
  color: var(--text);
}

.member-source {
  align-self: baseline;
  flex-shrink: 0;
  line-height: calc(1.4 * 1.5rem);
  margin: 0 0 0 var(--small-gap);
}

/* Custom type constructors */

.constructor-list {
  list-style: none;
  padding: 0;
}

.constructor-row {
  align-items: center;
  display: flex;
}

.constructor-item {
  margin-bottom: var(--small-gap);
}

.constructor-argument-item {
  display: flex;
}

.constructor-argument-label {
  flex-shrink: 0;
}

.constructor-argument-doc {
  margin-left: var(--gap);
}

.constructor-argument-list {
  margin-bottom: var(--small-gap);
}

.constructor-item-docs {
  margin-left: var(--large-gap);
  margin-bottom: var(--gap);
}

.constructor-item .icon {
  flex-shrink: 0;
  font-size: 0.7rem;
  margin: 0 0.88rem;
}

.constructor-name {
  box-shadow: unset;
  margin: 0;
}

.constructor-name > code {
  padding: var(--small-gap);
}

/* Tables */

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table td,
table th {
  padding: 6px 13px;
  border: 1px solid var(--table-border);
}

table tr:nth-child(2n) {
  background-color: var(--table-background);
}

/* Footer */

.pride {
  width: 100%;
  display: none;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  z-index: 100;
}

.show-pride .pride {
  display: flex;
}

.show-pride .sidebar {
  margin-bottom: var(--gap);
}

.pride div {
  flex: 1;
  text-align: center;
  padding: var(--tiny-gap);
}

.pride .white {
  background-color: var(--white);
}
.pride .pink {
  background-color: var(--pink);
}
.pride .blue {
  background-color: var(--boi-blue);
}

.pride-button {
  position: absolute;
  right: 2px;
  bottom: 2px;
  opacity: 0.2;
  font-size: 0.9rem;
}

.pride-button {
  text-decoration: none;
  cursor: default;
}

/* Icons */

.svg-lib {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  width: 1em;
}

.icon-gleam-chasse {
  width: 8.182em;
}

.icon-gleam-chasse-2 {
  width: 4.909em;
}

/* Pre-Wrap Option */

body.prewrap-on code,
body.prewrap-on pre {
  white-space: pre-wrap;
}

/* Dark Theme Option */

body.theme-dark {
  /* Colour palette adapted from:
   * https://github.com/dustypomerleau/yarra-valley
   */

  --argument-atom: #c651e5;
  --class-module: #ff89b5;
  --comment: #7e818b;
  --escape: #7cdf89;
  --function-call: #abb8c0;
  --function-definition: #8af899;
  --interpolation-regex: #ee37aa;
  --keyword-operator: #ff9d35;
  --number-boolean: #f14360;
  --object: #99c2eb;
  --punctuation: #4ce7ff;
  --string: #aecc00;

  --inline-code: #ff9d35;

  --bg: #292d3e;
  --bg-tint-1: #3e4251;
  --bg-tint-2: #535664;
  --bg-tint-3: #696c77;
  --bg-tint-4: #7e818b;
  --bg-shade-1: #242837;
  --bg-shade-2: #202431;
  --bg-shade-3: #1c1f2b;
  --bg-mono-1: #33384d;
  --bg-mono-2: #3d435d;
  --bg-mono-3: #474e6c;
  --bg-mono-4: #51597b;

  --fg: #cac0a9;
  --fg-tint-1: #fdf2d8;
  --fg-tint-2: #fdf3dc;
  --fg-tint-3: #fdf5e0;
  --fg-shade-1: #e3d8be;
  --fg-shade-2: #cac0a9;
  --fg-shade-3: #b1a894;
  --fg-shade-4: #97907f;

  --orange-shade-1: #e58d2f;
  --orange-shade-2: #cc7d2a;
  --orange-shade-3: #b26d25;

  --taupe-mono-1: #fdf1d4;
  --taupe-mono-2: #fce9bc;
  --taupe-mono-3: #fbe1a3;

  /* Theme Overrides */

  --accent: var(--pink);
  --accented-background: var(--bg-shade-1);
  --background: var(--bg);
  --code-background: var(--bg-shade-2);
  --table-background: var(--bg-mono-1);
  --hard-black: var(--taupe-mono-1);
  --links: var(--pink);
  --text: var(--taupe-mono-1);

  --shadow: 0 0 0 1px rgba(50, 50, 93, 0.075), 0 0 1px var(--fg-shade-3),
    0 2px 4px -2px rgba(138, 141, 151, 0.2);
  --nav-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

body.theme-dark {
  background-color: var(--bg);
  color: var(--fg-shade-1);
}

body.theme-dark .page-header {
  background-color: var(--bg-mono-1);
}

body.theme-dark .page-header h2 {
  color: var(--fg-shade-1);
}

body.theme-dark .page-header a,
body.theme-dark .page-header a:visited {
  color: var(--pink);
}

body.theme-dark .page-header .sidebar-toggle {
  color: var(--fg-shade-1);
}
body.theme-dark .page-header .search-nav-button {
  color: var(--fg-shade-1);
}

body.theme-dark #project-version select,
body.theme-dark .control {
  color: var(--fg-shade-1);
}

body.theme-dark .module-name {
  color: var(--taupe-mono-1);
}

body.theme-dark .pride {
  color: var(--bg-shade-3);
}

body.theme-dark .pride .white {
  background-color: var(--fg-shade-1);
}

body.theme-dark .pride .pink {
  background-color: var(--argument-atom);
}

body.theme-dark .pride .blue {
  background-color: var(--punctuation);
}

/* Medium and larger displays */
@media (min-width: 680px) {
  #prewrap-toggle {
    display: none;
  }
}

/* Small displays */
@media (max-width: 920px) {
  .page-header {
    padding-left: var(--small-gap);
    padding-right: var(--small-gap);
  }

  .page-header h2 {
    width: calc(
      100% - var(--sidebar-toggle-size) - var(--small-gap) -
        var(--sidebar-toggle-size) - var(--small-gap)
    );
  }

  .content {
    width: 100%;
    max-width: unset;
    margin-left: unset;
  }

  .sidebar {
    box-shadow: var(--nav-shadow);
    height: 100vh;
    max-height: unset;
    top: 0;
    transform: translate(calc(-10px - var(--sidebar-width)));
    z-index: 500;
  }

  body.drawer-open .sidebar {
    transform: translate(0);
  }

  .sidebar-toggle {
    display: block;
    opacity: 1;
  }

  .search-nav-button {
    display: block;
    opacity: 1;
  }

  .sidebar .sidebar-toggle {
    height: var(--sidebar-toggle-size);
    position: absolute;
    right: var(--small-gap);
    top: var(--small-gap);
    width: var(--sidebar-toggle-size);
  }
}

/* Search */

.search {
  display: none;
  position: relative;
  z-index: 2;
  flex-grow: 1;
  height: var(--search-height);
  padding: 0.5rem;
  transition: padding linear 200ms;
}

@media (min-width: 919px) {
  .search {
    margin-left: var(--small-gap);
    display: block;
    position: relative !important;
    width: auto !important;
    height: 100% !important;
    padding: 0;
    transition: none;
  }
}

.search-input-wrap {
  position: relative;
  z-index: 1;
  height: 3rem;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  transition: height linear 200ms;
}

@media (min-width: 919px) {
  .search-input-wrap {
    position: absolute;
    width: 100%;
    max-width: calc(var(--content-width) - var(--gap) - var(--gap));
    height: 100% !important;
    border-radius: 0;
    box-shadow: none;
    transition: width ease 400ms;
  }
}

.search-input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  font-size: 16px;
  background-color: transparent;
  color: var(--text);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  border-radius: 0;
}

@media (min-width: 919px) {
  .search-input {
    padding: 1rem;
    font-size: 14px;
    background-color: transparent;
    transition: padding-left linear 200ms;
  }
}

.search-input:focus {
  outline: 0;
}

.search-input:focus + .search-label .search-icon {
  color: var(--pink);
}

.search-label {
  position: absolute;
  right: 0;
  display: flex;
  height: 100%;
  padding-right: 1rem;
  cursor: pointer;
}

@media (min-width: 919px) {
  .search-label {
    padding-right: 0.6rem;
    transition: padding-left linear 200ms;
  }
}

.search-label .search-icon {
  width: 1.2rem;
  height: 1.2rem;
  align-self: center;
  color: var(--text);
}

.search-results {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
  max-height: calc(100% - var(--search-height));
  overflow-y: auto;
  background-color: var(--background);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

@media (min-width: 919px) {
  .search-results {
    top: 100%;
    width: calc(var(--content-width) - var(--gap) - var(--gap));
    max-height: calc(100vh - 200%) !important;
  }
}

.search-results-list {
  padding-left: 0;
  margin-bottom: 0.25rem;
  list-style: none;
  font-size: 14px !important;
}

@media (min-width: 31.25rem) {
  .search-results-list {
    font-size: 16px !important;
  }
}

@media (min-width: 919px) {
  .search-results-list {
    font-size: 12px !important;
  }
}

@media (min-width: 919px) and (min-width: 31.25rem) {
  .search-results-list {
    font-size: 14px !important;
  }
}

.search-results-list-item {
  padding: 0;
  margin: 0;
}

.search-result {
  display: block;
  padding-top: 0.25rem;
  padding-right: 0.75rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
}

.search-result:hover,
.search-result.active {
  background-color: var(--code-background);
}

.search-result-title {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 31.25rem) {
  .search-result-title {
    display: inline-block;
    width: 40%;
    padding-right: 0.5rem;
    vertical-align: top;
  }
}

.search-result-doc {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.search-result-doc.search-result-doc-parent {
  opacity: 0.5;
  font-size: 12px !important;
}

@media (min-width: 31.25rem) {
  .search-result-doc.search-result-doc-parent {
    font-size: 14px !important;
  }
}

@media (min-width: 919px) {
  .search-result-doc.search-result-doc-parent {
    font-size: 11px !important;
  }
}

@media (min-width: 919px) and (min-width: 31.25rem) {
  .search-result-doc.search-result-doc-parent {
    font-size: 12px !important;
  }
}

.search-result-doc .search-result-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  color: var(--pink);
  flex-shrink: 0;
}

.search-result-doc .search-result-doc-title {
  overflow: auto;
}

.search-result-section {
  margin-left: 1.5rem;
  word-wrap: break-word;
}

.search-result-rel-url {
  display: block;
  margin-left: 1.5rem;
  overflow: hidden;
  color: var(--text);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 9px !important;
}

@media (min-width: 31.25rem) {
  .search-result-rel-url {
    font-size: 10px !important;
  }
}

.search-result-previews {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-left: 0.5rem;
  color: var(--text);
  word-wrap: break-word;
  border-left: 1px solid;
  border-left-color: #eeebee;
  font-size: 11px !important;
  /* TODO: fix it by not adding at the parent? */
  white-space: initial !important;
}

@media (min-width: 31.25rem) {
  .search-result-previews {
    font-size: 12px !important;
  }
}

@media (min-width: 31.25rem) {
  .search-result-previews {
    display: inline-block;
    width: 60%;
    padding-left: 0.5rem;
    margin-left: 0;
    vertical-align: top;
  }
}

.search-result-preview + .search-result-preview {
  margin-top: 0.25rem;
}

.search-result-highlight {
  font-weight: bold;
}

.search-no-result {
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 12px !important;
}

@media (min-width: 31.25rem) {
  .search-no-result {
    font-size: 14px !important;
  }
}

.search-button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--background);
  border: 1px solid rgba(114, 83, 237, 0.3);
  border-radius: 1.75rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  align-items: center;
  justify-content: center;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity ease 400ms, width 0s 400ms, height 0s 400ms;
}

.search-active .search {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.search-active .search-input-wrap {
  height: var(--search-height);
  border-radius: 0;
}

@media (min-width: 919px) {
  .search-active .search-input-wrap {
    width: calc(var(--content-width) - var(--gap) - var(--gap));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }
}

.search-active .search-input {
  background-color: var(--background);
}

@media (min-width: 919px) {
  .search-active .search-label {
    padding-left: 0.6rem;
  }
}

.search-active .search-results {
  display: block;
}

.search-active .search-overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity ease 400ms, width 0s, height 0s;
}

@media (min-width: 919px) {
  .search-active .main {
    position: fixed;
    right: 0;
    left: 0;
  }
}

.search-active .main-header {
  padding-top: var(--search-height);
}

@media (min-width: 919px) {
  .search-active .main-header {
    padding-top: 0;
  }
}
